.container.treehouse-profile-header
  .block.sm-12
    h1 My Treehouse Profile
  .block.sm-4
    .avatar-wrapper
      .avatar
        img(alt=data.treehouse.name src=data.treehouse['gravatar_url'])
  .block.sm-8
    .treehouse-total-points
      h4 Total Points
      p=data.treehouse.points.total
.container.treehouse-points-container
  .block.sm-12
    ul.treehouse-points-grid.container
      if data.treehouse.points
        each points, category in data.treehouse.points
          if points > 0 && category != 'total'
            li.treehouse-points-figure.block.sm-6.md-4(class=_.replace(_.lowerCase(category), ' ', ''))
              h4=category
              p=points
