include icons.pug 

//-**
//- @mixin Card
//- 
//- @param {Object} data - Contains content to fill out the card.
//- @param {Bool}   horizontal - If `true`, add `.horizontal` class to `.card`.
//-
//-*
mixin card(data, classes, horizontal)
  //- extract the filename from `data.path`.
  - var filename = _.replace(data.path, 'pens/', '');
  - var filenameNoExtention = _.replace(filename, '.pug', ''); 
  //- `horizontal` set with default
  - var isHorizontal = horizontal || true;
  //- Handle extra classes
  - var classes = classes || '';
  //- Card
  .card(
    class={horizontal: isHorizontal === true}
    class=classes
    data-card=''
  )
    //- Top Options Bar
    .card-options-bar
      //- Close Card
      button.icon-button(
        data-card-close=''
      )
        +icon('close')
      //- Open Pane
      button.button(
        data-inject=filenameNoExtention
        data-pane-open=data.type
      ) See More
    
    //- Card Cover
    .card-cover
      //- Thumbnail Image
      .card-thumbnail
        img(
          src=data.thumbnail.image 
          title=data.thumbnail.title
          alt=data.thumbnail.description
        )
      //- Title and Meta Details
      .card-info
        //- Title
        h3= data.title
        //- Tags
        .tags-container
          ul.tags
            //- Tag Loop
            each tag in data.tags
              li= tag
    //- Card Description
    .bottom-container !{filters.markdown.render(data.description)} 
