include icons.pug 

//-**
//- @mixin Card
//- 
//- @param {Object} data - Contains content to fill out the card.
//- @param {Bool}   horizontal - If `true`, add `.horizontal` class to `.card`.
//-
//-*
mixin card(data, classes, animation, horizontal)
  //- extract the filename from `data.path`.
  - var arrayFromFilename = data.path.split('/');
  - var lastIndex = arrayFromFilename.length - 1;
  - var filename = arrayFromFilename[lastIndex];
  - var filenameNoExtention = _.replace(filename, '.pug', '');
  - var chain = data.api.namespace + '.' + filenameNoExtention;
  //- `horizontal` set with default
  - var isHorizontal = horizontal || true;
  - var animate = !!animation || false;
  - var atts = {};
  if animate 
    - atts['data-animation'] = animation;
  //- Handle extra classes
  - var classes = classes || '';
  //- Card
  .card(
    class={horizontal: isHorizontal === true}
    class=classes
    data-expand=''
    
  )&attributes(atts)
    //- Top Options Bar
    .card-options-bar
      //- Close Card
      button.icon-button(
        data-expand-close=''
      )
        +icon('close')
      //- Open Pane
      button.button(
        data-inject=chain
        data-pane-open=data.type
      ) See More
    
    //- Card Cover
    .card-cover(data-expand-open='')
      //- Thumbnail Image
      .card-thumbnail
        img(
          src=helpers.url(data.thumbnail.image) 
          title=data.thumbnail.title
          alt=data.thumbnail.description
        )
      //- Title and Meta Details
      .card-info
        //- Title
        h3= data.title
        //- Tags
        .tags-container
          ul.tags
            //- Tag Loop
            each tag in data.tags
              li= tag
    //- Card Description
    .bottom-container !{filters.markdown.render(data.description)} 
