//- mixin iconButton(icon, action, id)
//-   case action
//-     when 'open pane'
//-       button.icon-button(data-pane-open=id)
//-         +icon(icon)
//- 
//-     when 'close pane' 
//-       button.icon-button(data-pane-close='')   
//-         +icon(icon)

mixin icon(name)
  svg(
    preserveAspectRatio='xMidYMid meet'
    viewBox='0 0 32 32'
    xmlns='http://www.w3.org/2000/svg'
  )
    case name
      when 'menu': include ../includes/icons/menu.pug
      default: .error error

mixin pane(id, position, api)
  if api
    .pane(
      class=position
      data-pane=id
      data-inject=api
      )
  else
    .pane(
      class=position
      data-pane=id
      )
        .pane-header
          .top-bar
            .left
              button.icon-button(data-pane-close='')
                +icon('menu')
        .pane-content
          block

