include ../mixins/mixins.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    base(href=helpers.url('/'))
    //- Font Scripts
    include ../includes/head/font-scripts.pug
    //- Title of the page. can overwrite this.
    block title
      title= site.title
    //- Stylesheets
    block stylesheets
      //- If --prodution is passed, include minified file
      if build.production
        link(
          rel='stylesheet'
          href=helpers.url('/assets/css/main.min.css')
        )
      //- Else include non-minified file
      else
        link(
          rel='stylesheet'
          href=helpers.url('/assets/css/main.css')
        )
  body(class=bodyClass)
    include ../includes/loading-screen.pug
    include ../includes/background.pug
    .site-wrapper.panes(data-panes='')
      //- Panes
      block panes
      //- Main Nav Pane
      block nav
        include ../includes/main-nav.pug
      .site-inner.main-pane(data-pane='home')
        //- Top Bar Header
        block header
          include ../includes/header.pug
        main.content
          //- Main Content
          block content
        //- Footer
        block footer
          footer
            include ../includes/footer.pug
    //- Scripts
    block footerScripts
      include ../includes/scripts.pug
