extends default.pug

block title
  title= title

block append stylesheets
  if build.production
    link(
      rel='stylesheet'
      href=helpers.url('/assets/css/docs.min.css')
    )
  else
    link(
      rel='stylesheet'
      href=helpers.url('/assets/css/docs.css')
    )

block nav
  +pane('docNav', 'left', 'doc-nav-pane', {responsive: 'lg-down'})
    .container.nav-header
      .block.sm-12
        h1 
          a(href=helpers.url('/docs/')) Site Documentation
    +collectionNav(collections.docs)
block header
  header.site-header
    .top-bar
      .left
        button.icon-button.open-menu(data-pane-open='docNav')
          +icon('menu')

block content
  article.wrapper
    header.container
      .block.sm-12
        .titled-callout
          .titled-callout-heading(build-api='title')
            h1= title
          .titled-callout-content-wrapper
            .titled-callout-content(build-api='description')
              p= description

    section.container
      .block.sm-12(build-api='main')
        block main
      
