---
title: "Hayes Business Group Brand"
date: 2016-8-25
description: >
  A new brand for a management and marketing company. A corporate, yet modern, tone to
  speak to the company's professional and forward thinking attitude. 
featured: true
wrapperClass: hbgi
tags: 
  - branding 
  - design 
  - graphicDesign 
  - icons
  - logo 
  - webDevelopment
thumbnail:
  image: assets/imgs/projects/hbgi/thumbnail.png
  title: Hayes Business Group Inc. Mark Logo
  description:
---
extends ../../layouts/project.pug

block main
  section.header.container
    .block.sm-12
      img(
        src="assets/imgs/projects/hbgi/header.svg"
      )
  
  section.container.sm-no-gutters.colors
    .block.sm-4
      .color-segment.color-white
        span FFFFFF
    .block.sm-4
      .color-segment.color-grey
        span 454545
    .block.sm-4  
      .color-segment.color-turquois
        span 1C8584

  section.container.typography
    .block.sm-12
      img(
        src="assets/imgs/projects/hbgi/typography.svg"
      )
  section.container.stationary
    .block.sm-12
      .container.business-cards
        .block.sm-12.md-6
          img(
            src="assets/imgs/projects/hbgi/bizcard_front.svg"
          )
        .block.sm-12.md-6
          img(
            src="assets/imgs/projects/hbgi/bizcard_back.svg"
          )
      .container
        .block.sm-12
          .letters
            .letter.letterhead
              img(
                src="assets/imgs/projects/hbgi/letterhead.png"
              )
            .letter.notepaper
              img(
                src="assets/imgs/projects/hbgi/notepaper.png"
              )
            .letter.fax
              img(
                src="assets/imgs/projects/hbgi/fax.png"
              )
  section.container.icons
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/product.svg"
      )
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/phone.svg"
      )
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/person.svg"
      )
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/fax.svg"
      )
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/arrow-down.svg"
      )
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/mail.svg"
      )
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/share.svg"
      )
    .block.sm-6.md-4
      img.brand-icon(
        src="assets/imgs/projects/hbgi/icons/building.svg"
      )
    
    section.container.site-demo
      .block.sm-12
        img(src="assets/imgs/projects/hbgi/hbgi-site.gif")
      
      
      
      
      
      
      
