---
title: "Hayes Business Group Brand"
date: 2016-8-25
description: >
  A new brand for a management and marketing company. A corporate, yet modern, tone to
  speak to the company's professional and forward thinking attitude. 
featured: true
wrapperClass: hbgi
tags: 
  - branding 
  - design 
  - graphicDesign 
  - icons
  - logo 
  - webDevelopment
thumbnail:
  image: /assets/imgs/projects/hbgi/thumbnail.png
  title: Hayes Business Group Inc. Mark Logo
  description:
---
extends ../../layouts/project.pug

block main
  section.header.container
    .block.sm-12
      img(
        src=helpers.url('assets/imgs/projects/hbgi/header.svg')
      )
  
  section.container.sm-no-gutters.colors
    .block.sm-4
      .color-segment.color-white
        span FFFFFF
    .block.sm-4
      .color-segment.color-grey
        span 454545
    .block.sm-4  
      .color-segment.color-turquois
        span 1C8584

  section.container.typography
    .block.sm-12
      img(
        src=helpers.url('assets/imgs/projects/hbgi/typography.svg')
      )
  section.container.stationary
    .block.sm-12
      .container.business-cards
        .block.sm-12.md-6
          img(
            src=helpers.url('assets/imgs/projects/hbgi/bizcard_front.svg')
          )
        .block.sm-12.md-6
          img(
            src=helpers.url('assets/imgs/projects/hbgi/bizcard_back.svg')
          )
      .container
        .block.sm-12
          .letters
            .letter.letterhead
              img(
                src=helpers.url('assets/imgs/projects/hbgi/letterhead.png')
              )
            .letter.notepaper
              img(
                src=helpers.url('assets/imgs/projects/hbgi/notepaper.png')
              )
            .letter.fax
              img(
                src=helpers.url('assets/imgs/projects/hbgi/fax.png')
              )
  section.container.icons
    - 
      var icons = [
        'product',
        'phone',
        'person',
        'fax',
        'arrow-down',
        'mail',
        'share',
        'building'
      ];
    each icon in icons 
      .block.sm-6.md-4
        img.brand-icon(
          src=helpers.url(`assets/imgs/projects/hbgi/icons/${icon}.svg`)
        )
    
    section.container.site-demo
      .block.sm-12
        img(src=helpers.url('assets/imgs/projects/hbgi/hbgi-site.gif'))
      
      
      
      
      
      
      
